.Box {
  background: linear-gradient(
    180deg,
    rgba(98, 106, 136, 0.1) 0%,
    rgba(46, 49, 73, 0.1) 100%
  );
}

.Crypto {
  background: linear-gradient(
    175.25deg,
    rgba(158, 68, 255, 0.25) 3.56%,
    rgba(84, 62, 255, 0.25) 103.97%
  );
}

@font-face {
  font-family: Jamjuree;
  src: url("./assets/font/BaiJamjuree-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: Jamjuree;
  font-weight: 700;
  src: url("./assets/font/BaiJamjuree-Bold.ttf");
}

@font-face {
  font-family: Jamjuree;
  font-weight: 700;
  src: url("./assets/font/BaiJamjuree-SemiBold.ttf");
}
